/* CSS Document */
h2 {padding-bottom: 20px;}

form {
	text-align: center;
	padding-bottom: 40px;
	font-size: 15px;
}

.elem-group {padding:10px;}

textarea, label {font-size: 20px;}


.myButton {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #44c767), to(#5cbf2a));
  background: linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
  background-color: #44c767;
  border-radius: 28px;
  border: 1px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 15px 31px;
  margin-top: 10px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;

}

.myButton:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #5cbf2a), to(#44c767));
  background: linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
  background-color: #5cbf2a;
}

.myButton:active {
  position: relative;
  top: 1px;
}
