html {
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #EFE5DC;
}

.wrapper {
  padding: 20px;
  border: #343633 solid 1px;
  max-width: 90%;
  width: 85%;
  margin: 20px auto;
  background-color: #EFE5DC;
  -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.55);
          box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.55);
  border-radius: 15px;
}

.imageBackground {
  height: 300px;
  width: 100%;
  background-image: url(../images/murphyCemetery-3-overlay.jpg);
  background-size: cover;
  background-position: center;
  margin-bottom: 5%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.imageBackground h1 {
  text-align: center;
  padding-top: 8%;
  color: white;
  font-size: 200%;
  text-shadow: 2px 2px black;
}

.myButton {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #44c767), to(#5cbf2a));
  background: linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
  background-color: #44c767;
  border-radius: 28px;
  border: 1px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 15px 31px;
  margin-top: 10px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
}

.myButton:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #5cbf2a), to(#44c767));
  background: linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
  background-color: #5cbf2a;
}

.myButton:active {
  position: relative;
  top: 1px;
}

.paragraph p {
  margin-top: 5%;
  margin-bottom: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: large;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.column {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 5px;
  margin: 5px;
  text-align: center;
  margin-top: 10px;
}

.column h2 {
  text-align: center;
  font-size: 30px;
}

.column img {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: #343633 solid 1px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.55);
          box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.55);
}

.column:first-child {
  margin-left: 0;
}

.column:last-child {
  margin-right: 0;
}

.divider {
  border-top: #343633 solid 1px;
  margin: 10px;
}

footer {
  padding: 10px;
  margin: 5px;
  text-align: center;
  background-color: #343633;
  border: 1px solid #343633;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

footer p {
  color: #fff;
  padding: 2px;
}

footer h3 {
  color: #fff;
  text-decoration: underline;
}

footer a {
  color: #fff;
}

footer a:hover {
  text-decoration: underline;
}

.footerNav {
  display: block;
  margin-top: 80px;
}

@media screen and (max-width: 980px) {
  .row .column {
    margin-bottom: 5px;
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
  .row .column:nth-last-child(2) {
    margin-right: 0;
  }
  .row .column:last-child {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin: 0;
  }
}

@media screen and (max-width: 680px) {
  .row .column {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin: 0 0 5px 0;
  }
}
/*# sourceMappingURL=structure.css.map */